body{
    background-color: rgb(252, 196, 252);
    font: normal 15pt Arial;

}

header{

    color: white;
    text-align: center; /* centralizar texto*/

}

section{
    background: white;
    border-radius: 10px; /*arredondar cantos*/
    padding: 15px; /* altura da div*/
    width: 500px; /* largura div*/
    margin:auto; /*centralizar div*/
    box-shadow: 3px 3px 10px #b8b4b6;  /*sombra div */

}

div {
    text-align: center;
    padding: 8px;
}

footer{

    color: white;
    text-align: center;
    font-style: italic;

}

